#form{
    width: 1120px;
    margin: auto;
    display: flex;
    background: #3C6771;
    border-radius: 20px;
    color: white;
    padding: 32px;
}

.apply-content{
    padding-right: 90px;
    width: 75%;
}

.apply-title{
    display: block;
    font-family: 'Google Sans',sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 62px;
}

.apply-dscrpt{
    line-height: 24px;
    margin: 16px 0;
    font-size: 16px;
}

.apply-pls{
    font-size: 24px;
    font-family: 'Open Sans';
}

.form-container{
    display: flex;
    flex-direction: column;
    width: 650px;
    
}

input {
    border-radius: 30px;
    width: 100%;
    height: 43px;
    border-style: none;
    padding: 10px 15px;
    font-family: 'Open Sans';
    font-size: 14px;
}

.form-items{
    margin-bottom: 20px;
}


.form-items input:focus{
    outline: none;
}

.submit-btn{
    background: #A5B862;
    height: 56px;
    font-size: 16px;
    color: white;
    font-weight: 700;
    padding: 16px;
    cursor: pointer;
}

#position{
    width: 100%;
    border-radius: 30px;
    height: 43px;
    border-style: none;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    padding: 10px 15px;
    outline: none;
}

select{
    appearance: none;
}

.CV-icon{
    /* position: absolute; */
    /* z-index: 10000; */
    color: #3C6771;
    font-size: 24px;
    padding-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.att-cv{
    cursor: pointer;
    position: relative;
    display: flex;
    font-size: 14px;
    padding: 10px 15px;
    background-color: white;
    width: 200px;
    color: #222;
    border-radius: 30px;
    width: 26%;
    height: 44px;
}

/* .att-cv p{
    display: flex;
    justify-content: center;
    align-items: center;
} */

.custom-file-input::-webkit-file-upload-button {
    visibility: hidden;
}

.custom-file-input::before {
    content: 'Attach CV';
    /* display: flex; */
    background: linear-gradient(top, #f9f9f9, #e3e3e3);
    /* border: 1px solid #999; */
    /* border-radius: 3px; */
    /* padding: 5px 8px; */
    outline: none;
    /* white-space: nowrap; */
    -webkit-user-select: none;
    cursor: pointer;
    /* text-shadow: 1px 1px #fff; */
    /* font-weight: 700; */
    font-size: 14px;
    position: absolute;
    bottom: 12px;
    left: 45px;
  }

