
#header {
    position: fixed;
    display: flex;
    width: 100%;
    justify-content: center;
    height: 88px;
    background-color: #F8F7F7;
    margin: auto;
    top: 0;
    z-index: 10000;
}

#nav{
    display: flex;
    width: 1120px;
    justify-content: space-between;
    align-items: center;
    padding: 16px 0px;
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;
}

.savv-logo {
    display: block;
    
}

#nav a{
    text-decoration: none;
    color: black;
}

#nav a:hover{
    color: #A5B862;
    transition: ease 0.5s;
}

.apply-btn a{
    padding: 12px 14px;
    background: #A5B862;
    border-radius: 64px;
    color: white !important
}

.drop-down{
    position: relative;
    display: inline-block;
}

.drop-down img{
    width: 28px;
    height: 20px;
    margin-top: 10px;
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
}

.show {display:block;}
