@import url("header.css");
@import url("banner.css");
@import url("job-list.css");
@import url("about.css");
@import url("value.css");
@import url("form.css");
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
    font-family: 'Open Sans';
}