#value{
    display: flex;
    width: 1120px;
    flex-direction: column;
    margin: auto;
    margin-bottom: 80px;
    scroll-margin-top: 100px
}

.val-content{
    display: grid;
    grid-template-columns: auto auto;
    margin: auto;
    gap: 25px;
}

.val-title{
    font-size: 58px;
    font-weight: 700;
    font-family: 'Google Sans';
    text-align: center;
    flex-direction: row;
    margin-bottom: 32px;
}

.val-img{
    position: relative;
    transition: ease 0.5s;
    
}

.val-img:hover{
    opacity: 0.8;
}

.image-val{
    display: block;
    width: 100%;
    /* position: relative; */
}

.val-context{
    display: block;
    position: absolute;
    width: 100%;
    padding: 0 25px;
    bottom: 20px;
    color: white;
    font-size: 22px;
    font: 'Open Sans', sans-serif;
}